*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.cv {
    width: 90%;
    max-width: 900px;
    display: flex;
    gap: 25px;
    margin: auto;
    flex-direction: column; 
}
.header{
    display:flex;
    justify-content: space-between;
    align-items:left;
    flex-direction: column;
}
.me, .edu, .projects, .techskills, .softskills,.contact, .course, .cert, .act {
    flex: 1 1 45%; 
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 15px;
}
h2{
    color: hsl(207, 100%, 50%);
}
.header{
    color: #ffffff;
    background-color: hsl(207, 100%, 50%);
    font-size: x-large;
}
ul {
    list-style-type: disc;
    padding-left: 20px;
}
footer{
    color: #ffffff;
    background-color: hsl(207, 100%, 50%);
    font-size: x-large;
}
@media (min-width: 768px){
    .edu, .projects, .techskills, .softskills, .course, .cert, .act{
        width: 48%;
    }
    .me, .contact{
        width:100%;
    }
    .cv{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .header, .footer{
        width: 100%;
    }
}